@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-rgb: 243, 244, 246;  /* Light grey background */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  min-height: 100vh;
}

/* Ensure text is dark in all modes */
body {
  color: #333333 !important;
}

@layer base {
  body {
    @apply text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
